{% extends 'testpages/base_page.html' %}
{% load qr_code %}




{% block title %}
    Site #1
{% endblock %}


{% block content %}


            {% for lecture in lectures %}

                <form action="{% url 'lecture_url'  %}" method="post">
                    {% csrf_token %}

                     <div class="card mt-5 ml-auto mr-auto" style="width: 18rem;">

                      <div class="card-body">
                        <h5 class="card-title">{{ lecture.title }}</h5>
                        <p class="card-text"> {{ lecture.date}} </p>
                        <input type="submit"
                               name="Лекция"
                               value="{{lecture.id}}"
                               class="btn btn-primary" />
                      </div>
                    </div>

                </form>





        {% endfor %}






{% endblock %}