{% extends 'testpages/base_page.html' %}
{% load qr_code %}


{% block title %}
    Лекции
{% endblock %}


{% block content %}

{% for lecture in lectures %}


<form action= "#" method="post">
                    {% csrf_token %}

                     <div class="card text-primary mt-3 ml-auto mr-auto " style="width: 18rem;">

                      <div class="card-body">
                        <h5 class="card-title">{{ lecture.title }}</h5>
                        <p class="card-text"> {{ lecture.date }}  </p>
                       <input type="hidden" name="Lecture" value={{lecture.id}} />
                        <button class="btn btn-primary" >Показать qr-code </button>


                      </div>
                    </div>

                </form>


{% endfor %}
{% endblock %}